<div th:fragment="css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/toastify.min.css}">
    <style>
        .toasty-error {
            background: linear-gradient(to right, rgb(255, 95, 109), rgb(255, 195, 113)); transform: translate(0px, 0px); top: 15px;
        }
        .toasty-success {
            background: linear-gradient(to right, rgb(0, 176, 155), rgb(150, 201, 61)); transform: translate(0px, 0px); top: 15px;
        }
    </style>
</div>
<div th:fragment="js">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/toastify-js.js}"></script>
</div>