<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-white shadow-sm sticky-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/mascotas/list/false}">Mascotas App</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${mascotas} and !${tipo} ? 'active' : ''" th:href="@{/mascotas/list/false}">Listado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${mascotas} and ${tipo} == 'Perro' ? 'active' : ''" th:href="@{/mascotas/list/Perro/false}">Perros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${mascotas} and ${tipo} == 'Gato' ? 'active' : ''" th:href="@{/mascotas/list/Gato/false}">Gatos</a>
                </li>
            </ul>
            <a class="btn btn-sm btn-primary" th:href="@{/registro}"><i class="fas fa-user-plus"></i>&nbsp;Registrarme</a>
        </div>
    </div>
</nav>