<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Mascotas</title>
    <div th:replace="~{fragments/dist :: css}"/>
</head>
<body class="bg-light">
<div th:replace="~{fragments/header :: navbar}"/>
<div class="container my-4">
    <div class="card shadow-sm">
        <div class="card-header">
            <h4 class="m-0">Registrar <span class="text-lowercase" th:text="${tipo} ?: 'mascota'"/></h4>
        </div>
        <div class="card-body">
            <form id="formMascota" th:action="${tipo} ? @{/mascotas/save/{tipo}(tipo = ${tipo})} : @{/mascotas/save}" method="post" th:object="${mascota}">
                <div class="row g-3">
                    <div class="col-sm-6 col-lg-4">
                        <label>Nombre:</label>
                        <input th:field="*{nombre}" th:classappend="${#fields.hasErrors('*') ? #fields.hasErrors('nombre') ? 'is-invalid' : 'is-valid' : ''}" name="nombre" class="form-control" type="text"  autocomplete="off">
                        <div class="invalid-feedback" th:errors="*{nombre}"/>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        <label>Edad:</label>
                        <input th:field="*{edad}" th:classappend="${#fields.hasErrors('*') ? #fields.hasErrors('edad') ? 'is-invalid' : 'is-valid' : ''}" name="edad" class="form-control" type="number" >
                        <div class="invalid-feedback" th:errors="*{edad}"/>
                    </div>
                    <div class="col-lg-6">
                        <label>Descripción:</label>
                        <input th:field="*{descripcion}" th:classappend="${#fields.hasErrors('*') ? #fields.hasErrors('descripcion') ? 'is-invalid' : 'is-valid' : ''}" name="descripcion" class="form-control" type="text"  autocomplete="off">
                        <div class="invalid-feedback" th:errors="*{descripcion}"/>
                    </div>
                    <div th:if="not ${tipo}" class="col-sm-6 col-lg-4">
                        <label>Tipo de mascota</label>
                        <select name="tipoMascota" class="form-select" >
                            <option value="" selected>Selecciona un tipo de mascota</option>
                            <option value="Perro">Perro</option>
                            <option value="Gato">Gato</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <label>Imagen</label>
                        <select th:field="*{imagen}" th:classappend="${#fields.hasErrors('*') ? #fields.hasErrors('imagen') ? 'is-invalid' : 'is-valid' : ''}" name="imagen" class="form-select" >
                            <option value="" selected>Selecciona una imagen</option>
                            <option th:if="not ${tipo} or ${tipo} == 'Gato'" value="gato1.jpeg">gato1.jpeg</option>
                            <option th:if="not ${tipo} or ${tipo} == 'Gato'" value="gato2.png">gato2.png</option>
                            <option th:if="not ${tipo} or ${tipo} == 'Gato'" value="gato3.jpg">gato3.jpg</option>
                            <option th:if="not ${tipo} or ${tipo} == 'Gato'" value="gato4.png">gato4.png</option>
                            <option th:if="not ${tipo} or ${tipo} == 'Gato'" value="gato5.jpg">gato5.jpg</option>
                            <option th:if="not ${tipo} or ${tipo} == 'Gato'" value="gato6.jpg">gato6.jpg</option>
                            <option th:if="not ${tipo} or ${tipo} == 'Gato'" value="gato7.jpg">gato7.jpg</option>
                            <option th:if="not ${tipo} or ${tipo} == 'Gato'" value="gato8.png">gato8.png</option>
                            <option th:if="not ${tipo} or ${tipo} == 'Perro'" value="perro1.jpg">perro1.jpg</option>
                            <option th:if="not ${tipo} or ${tipo} == 'Perro'" value="perro2.jpg">perro2.jpg</option>
                            <option th:if="not ${tipo} or ${tipo} == 'Perro'" value="perro3.jpeg">perro3.jpeg</option>
                            <option th:if="not ${tipo} or ${tipo} == 'Perro'" value="perro4.jpg">perro4.jpg</option>
                            <option th:if="not ${tipo} or ${tipo} == 'Perro'" value="perro5.jpeg">perro5.jpeg</option>
                            <option th:if="not ${tipo} or ${tipo} == 'Perro'" value="perro6.jpg">perro6.jpg</option>
                            <option th:if="not ${tipo} or ${tipo} == 'Perro'" value="perro7.jpg">perro7.jpg</option>
                            <option th:if="not ${tipo} or ${tipo} == 'Perro'" value="perro8.jpg">perro8.jpg</option>
                        </select>
                        <div class="invalid-feedback" th:errors="*{imagen}"/>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <label>Color</label>
                        <select th:field="*{color}" th:classappend="${#fields.hasErrors('*') ? #fields.hasErrors('color') ? 'is-invalid' : 'is-valid' : ''}" name="color" class="form-select" >
                            <option value="" selected>Selecciona el color de la mascota</option>
                            <option th:each="color : ${colores}" th:value="${color}" th:text="${color}"/>
                        </select>
                        <div class="invalid-feedback" th:errors="*{imagen}"/>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <label>Carácter</label>
                        <select th:field="*{caracter}" th:classappend="${#fields.hasErrors('*') ? #fields.hasErrors('caracter') ? 'is-invalid' : 'is-valid' : ''}" name="caracter" class="form-select" >
                            <option value="" selected>Selecciona el caracter de la mascota</option>
                            <option th:each="caracter : ${caracteres}" th:value="${caracter}" th:text="${caracter}"/>
                        </select>
                        <div class="invalid-feedback" th:errors="*{imagen}"/>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <label>Fecha de rescate:</label>
                        <input th:field="*{fechaRescate}" th:classappend="${#fields.hasErrors('*') ? #fields.hasErrors('fechaRescate') ? 'is-invalid' : 'is-valid' : ''}" name="fechaRescate" class="form-control" type="date" >
                        <div class="invalid-feedback" th:errors="*{fechaRescate}"/>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <label>Disponible para adopción: </label><br>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                Sí
                                <input th:field="*{disponibleAdopcion}" th:classappend="${#fields.hasErrors('*') ? #fields.hasErrors('disponibleAdopcion') ? 'is-invalid' : 'is-valid' : ''}" name="disponibleAdopcion" id="disponibleAdopcion" value="true" class="form-check-input" type="radio" >
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                No
                                <input th:field="*{disponibleAdopcion}" th:classappend="${#fields.hasErrors('*') ? #fields.hasErrors('disponibleAdopcion') ? 'is-invalid' : 'is-valid' : ''}" name="disponibleAdopcion" value="false" class="form-check-input" type="radio" >
                            </label>
                        </div>
                        <input type="hidden" th:classappend="${#fields.hasErrors('*') ? #fields.hasErrors('disponibleAdopcion') ? 'is-invalid' : 'is-valid' : ''}">
                        <div class="invalid-feedback" th:errors="*{disponibleAdopcion}"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer text-end">
            <a th:href="${tipo} ? @{/mascotas/list/{tipo}/false(tipo = ${tipo})} : @{/mascotas/list/false}" class="btn btn-secondary"><i class="fas fa-times"></i>&nbsp;Cancelar</a>
            <button type="submit" form="formMascota" class="btn btn-success"><i class="fas fa-check"></i>&nbsp;Guardar</button>
        </div>
    </div>
</div>

<div th:replace="~{fragments/dist :: js}"/>
</body>
</html>