<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Mascotas</title>
    <div th:replace="~{fragments/bootstrap :: css}"/>
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
</head>
<body class="bg-light">
<div th:replace="~{fragments/header :: navbar}"/>
<div class="container my-4 vstack gap-3">
    <div class="d-flex justify-content-between align-items-center">
        <h3 class="m-0">Listado de <span class="text-lowercase" th:text="${tipo ?: 'mascota'}"/>s</h3>
        <a th:href="${tipo} ? @{/mascotas/new/{tipo}(tipo = ${tipo})} : @{/mascotas/new}" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;Registar <span class="text-lowercase" th:text="${tipo ?: 'mascota'}"/></a>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" id="swDisponible" type="checkbox" role="switch" th:checked="${disponibles}" th:onclick="redirect([[${tipo} ? @{/mascotas/list/{tipo}/{disponibles}(disponibles = ${!disponibles}, tipo = ${tipo})} : @{/mascotas/list/{disponibles}(disponibles = ${!disponibles})}]])">
        <label class="form-check-label" for="swDisponible">Mostrar solo disponibles para adopción</label>
    </div>
    <div class="row g-3">
        <div class="col-sm-6 col-md-3" th:each="mascota: ${mascotas}" th:object="${mascota}">
            <div class="card shadow-sm">
                <img class="card-img-top" style="aspect-ratio: 3/2; object-fit: cover" th:src="@{/images/mascotas/{imagen}(imagen = *{imagen})}" alt="">
                <div class="card-body vstack gap-2">
                    <h5 class="m-0" th:text="*{nombre}"/>
                    <div>
                        <span class="badge text-bg-primary me-1" th:text="*{tipoMascota}"/>
                        <span class="badge" th:classappend="*{disponibleAdopcion ? 'text-bg-success' : 'text-bg-secondary'}" th:text="*{disponibleAdopcion ? 'Disponible para adopción' : 'No disponible'}"/>
                    </div>
                    <span th:text="*{descripcion}"/>
                    <p class="m-0"><span class="text-muted">Edad: </span>[[${mascota.edad}]] años</p>
                    <small class="fst-italic">Rescatado el [[${#dates.format(mascota.fechaRescate, 'dd/MM/yyyy')}]]</small>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TOAST DE NOTIFICACIONES -->
<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="notification_toast" class="toast border-0 text-bg-success" role="alert">
        <div class="toast-body">
            <i class="fas fa-check me-2" id="notification_elIcon"></i><span id="notification_txtMessage"></span>
        </div>
    </div>
</div>

<div th:replace="~{fragments/bootstrap :: js}"/>
<script th:src="@{/js/mascotasController.js}"></script>
<script>if ([[${message != null}]]) notification.show('[[${message}]]', true)</script>
</body>
</html>